<!doctype html>
<html style="min-height:auto" >
   <head>
      <title>BitDefined</title>
      <script src="../js/popup.js"></script>
      <style>
         body {
             width: 400px;
         }
         table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
         }
         td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
         }
         tr:nth-child(even) {
            background-color: #dddddd;
         }
      </style>
   </head>
   <body>
      <h2>Custom Defined Types</h2>
      <table id="resultTable">
         <tr>
            <th>Name</th>
            <th>Type</th>
         </tr>
      </table>
      <h4> All rights reserved @BitThEbyte - 2020 </h4>
   </body>
</html>